<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./js/util.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Todo app</title>
</head>
<body>
    <div class="continer">
        <div class="users">
            <h1>Users</h1>
            <ul class="list">
                <!-- <li>salom</li>
                <li>alik</li>
                <li>binasa</li> -->
            </ul>
        </div>
        <div class="todos">
            <div class="todos_head">
                <span class="span1"><img width="33" src="https://www.svgrepo.com/show/13691/plus.svg" alt="plusIcon"></span>
                <h1>Name</h1>
                <span class="span2"><img width="33" src="https://www.svgrepo.com/show/173362/log-out-symbol.svg" alt="logoutIcon"></span>
            </div>
            <div class="todoss">
                <ul>
                    <li>Todo</li>
                    <li>Doing</li>
                    <li>Done</li>
                </ul>
            </div>
            <div class="main">
                <div class="main_todo">
                    <ul class='todoList'>
                        <!-- <li>
                            <span>Hello</span>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque voluptate iure magnam cupiditate amet vitae ipsum explicabo eligendi debitis quia at rem distinctio, odio et, temporibus fuga, aperiam sapiente molestias accusamus atque. Consectetur libero blanditiis beatae omnis facere, est, fugit ipsa consequuntur rerum hic id placeat, maiores maxime aliquam corrupti.</p>
                            <span>15:02</span>
                            <select>
                                <option value="todo">Todo</option>
                                <option value="doing">Doing</option>
                                <option value="done">Done</option>
                            </select>
                        </li> -->
                    </ul>
                </div>
                <div class="main_doing">
                    <ul class='todoList'>
                        <!-- <li>
                            <span>Hello</span>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque voluptate iure magnam cupiditate amet vitae ipsum explicabo eligendi debitis quia at rem distinctio, odio et, temporibus fuga, aperiam sapiente molestias accusamus atque. Consectetur libero blanditiis beatae omnis facere, est, fugit ipsa consequuntur rerum hic id placeat, maiores maxime aliquam corrupti.</p>
                            <span>15:02</span>
                            <select>
                                <option value="todo">Todo</option>
                                <option value="doing">Doing</option>
                                <option value="done">Done</option>
                            </select>
                        </li> -->
                    </ul>
                </div>
                <div class="main_done">
                    <ul class='todoList'>
                        <!-- <li>
                            <span>Hello</span>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque voluptate iure magnam cupiditate amet vitae ipsum explicabo eligendi debitis quia at rem distinctio, odio et, temporibus fuga, aperiam sapiente molestias accusamus atque. Consectetur libero blanditiis beatae omnis facere, est, fugit ipsa consequuntur rerum hic id placeat, maiores maxime aliquam corrupti.</p>
                            <span>15:02</span>
                            <select>
                                <option value="todo">Todo</option>
                                <option value="doing">Doing</option>
                                <option value="done">Done</option>
                            </select>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>